@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  font-size: 16px;
}

body {
  font-family: "century gothic", "f37 ginger", helvetica, sans-serif !important;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb)); */
}
.lor-grey {
  background-color: #2d2d2d;
}
.white-bg {
  background-color: #fff;
}
.sb-grey {
  background-color: #eeeeee;
  color: black;
}
.w-600 {
  width: 600px;
}
.w-800 {
  width: 800px;
}
.li-blue {
  background-color: #e0fdff;
}
.li-red {
  background-color: #ffd3d3;
}
.strong {
  font-weight: 600;
  font-size: 18px;
}
.italics {
  font-style: italic;
}
.lor-yellow {
  background-color: #ffcd00;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
